
.mat-cell, .mat-header-cell {
    padding-right: 10pt;
}

.chart-card {
    min-width: 320px;
    max-width: 1200px;
}

h1 {
    align-self: center;
    text-align: center;
}

select {
    width: 240px;
}