
<div *ngIf="$views | async as views">
    <div *ngIf="settings.$settings | async as settings">

        <table mat-table [dataSource]="views" *ngIf="0 < views.length">

            <ng-container matColumnDef="sensor">
                <th mat-header-cell *matHeaderCellDef>Sensor</th>
                <td mat-cell *matCellDef="let view">
                    {{getAlias(settings, view.code)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef>Zeit</th>
                <td mat-cell *matCellDef="let view">
                    {{view.datetime}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="humidity">
                <th mat-header-cell *matHeaderCellDef>Feuchtigkeit (%)</th>
                <td mat-cell *matCellDef="let view">
                    {{view.humidity}}
                    <br>
                    <mat-progress-bar mode="determinate" value="{{view.raw.humidity}}"></mat-progress-bar>
                </td>
            </ng-container>

            <ng-container matColumnDef="humidity_absolute">
              <th mat-header-cell *matHeaderCellDef>Feuchtigkeit (g/m³)</th>
              <td mat-cell *matCellDef="let view">
                {{view.humidity_absolute_string}}
                </td>
            </ng-container>

            <ng-container matColumnDef="temperature">
                <th mat-header-cell *matHeaderCellDef>Temperatur (°C)</th>
                <td mat-cell *matCellDef="let view"> {{view.temperature}} </td>
            </ng-container>

            <ng-container matColumnDef="battery">
                <th mat-header-cell *matHeaderCellDef>Batterie (%)</th>
                <td mat-cell *matCellDef="let view">
                    {{view.battery}}
                    <br>
                    <mat-progress-bar mode="determinate" value="{{view.raw.battery}}"></mat-progress-bar>
                </td>
            </ng-container>

            <ng-container matColumnDef="quality">
                <th mat-header-cell *matHeaderCellDef>Empfang (%)</th>
                <td mat-cell *matCellDef="let view">
                    {{view.quality}}
                    <br>
                    <mat-progress-bar mode="determinate" value="{{view.quality}}"></mat-progress-bar>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
    
        </table>

    </div>

</div>